[submodule "Coldark-bat"]
	path = Coldark-bat
	url = git@github.com:ArmandPhilippot/coldark-bat.git
[submodule "Coldark-dircolors"]
	path = Coldark-dircolors
	url = git@github.com:ArmandPhilippot/coldark-dircolors.git
[submodule "Coldark-Prism"]
	path = Coldark-Prism
	url = git@github.com:ArmandPhilippot/coldark-prism.git
