# cache
.eslintcache
.npm
*.tsbuildinfo

# dependencies
node_modules/

# environment variables
.env
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
.idea/

# tests coverage
coverage/
