:root,
::backdrop {
  --coldark00: #f0f4f8;
  --coldark01: #e3eaf2;
  --coldark02: #d0dae7;
  --coldark03: #8da1b9;
  --coldark04: #3c526d;
  --coldark05: #213043;
  --coldark06: #111b27;
  --coldark07: #0b121b;
  --coldark08: #cd6660;
  --coldark09: #e9ae7e;
  --coldark10: #e6d37a;
  --coldark11: #91d076;
  --coldark12: #66cccc;
  --coldark13: #6cb8e6;
  --coldark14: #c699e3;
  --coldark15: #f4adf4;

  --sl-color-black: var(--coldark06);
  --sl-color-blue-high: var(--sl-color-blue);
  --sl-color-blue: var(--coldark13);
  --sl-color-blue-low: color-mix(
    in srgb,
    var(--coldark13) 25%,
    var(--coldark07)
  );
  --sl-color-green: var(--coldark11);
  --sl-color-green-low: color-mix(
    in srgb,
    var(--coldark11) 25%,
    var(--coldark07)
  );
  --sl-color-gray-1: var(--coldark00);
  --sl-color-gray-2: var(--coldark02);
  --sl-color-gray-3: var(--coldark03);
  --sl-color-gray-4: var(--coldark04);
  --sl-color-gray-5: var(--coldark05);
  --sl-color-gray-6: var(--coldark07);
  --sl-color-gray-7: var(--coldark06);
  --sl-color-orange-high: var(--sl-color-orange);
  --sl-color-orange: var(--coldark09);
  --sl-color-orange-low: color-mix(
    in srgb,
    var(--coldark09) 25%,
    var(--coldark07)
  );
  --sl-color-purple-high: var(--sl-color-purple);
  --sl-color-purple: var(--coldark14);
  --sl-color-purple-low: color-mix(
    in srgb,
    var(--coldark14) 25%,
    var(--coldark07)
  );
  --sl-color-red-high: var(--sl-color-red);
  --sl-color-red: var(--coldark08);
  --sl-color-red-low: color-mix(
    in srgb,
    var(--coldark08) 25%,
    var(--coldark07)
  );
  --sl-color-white: var(--coldark01);
  --sl-color-accent-high: var(--sl-color-blue-high);
  --sl-color-accent: var(--sl-color-blue);
  --sl-color-accent-low: var(--sl-color-blue-low);
  --sl-color-bg-nav: var(--coldark07);
  --sl-color-bg-sidebar: var(--sl-color-bg);
  --sl-color-hairline-shade: var(--sl-color-gray-6);
  --sl-color-text: var(--sl-color-white);
  --sl-color-text-invert: var(--sl-color-black);
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --coldark08: #c22f2e;
  --coldark09: #a04900;
  --coldark10: #755f00;
  --coldark11: #116b00;
  --coldark12: #006d6d;
  --coldark13: #005a8e;
  --coldark14: #7c00aa;
  --coldark15: #af00af;

  --sl-color-black: var(--coldark01);
  --sl-color-gray-1: var(--coldark07);
  --sl-color-gray-2: var(--coldark06);
  --sl-color-gray-3: var(--coldark05);
  --sl-color-gray-4: var(--coldark04);
  --sl-color-gray-5: var(--coldark03);
  --sl-color-gray-6: var(--coldark02);
  --sl-color-gray-7: var(--coldark00);
  --sl-color-white: var(--coldark06);
  --sl-color-blue-low: color-mix(
    in srgb,
    var(--coldark13) 15%,
    var(--coldark00)
  );
  --sl-color-green-low: color-mix(
    in srgb,
    var(--coldark11) 15%,
    var(--coldark00)
  );
  --sl-color-orange-low: color-mix(
    in srgb,
    var(--coldark09) 15%,
    var(--coldark00)
  );
  --sl-color-purple-low: color-mix(
    in srgb,
    var(--coldark14) 15%,
    var(--coldark00)
  );
  --sl-color-red-low: color-mix(
    in srgb,
    var(--coldark08) 15%,
    var(--coldark00)
  );
}
